<footer class="footer" style="background-color: transparent;">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="/images/New Project 114 [5619AEB] (1).png" style="    height: 3rem;
                        scale: 1.5; object-fit: cover;" class="footer-logo" alt="Footer Logo" width="105" height="10">
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros
                            eu erat. </p>

                        <div class="social-icons">
                            <a href="https://twitter.com/Abshar777777" class="social-icon social-twitter"
                                title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="https://www.instagram.com/ka_efx/" class="social-icon social-instagram"
                                title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="https://youtube.com/@ka_efx?si=wNYCliHwowqFotyf" class="social-icon social-youtube"
                                title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        </div>
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/about">About </a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <!-- <li><a href="/about">Contact us</a></li> -->

                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->



                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/cart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/order">Track My Order</a></li>
                            <li><a href="/help">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <!-- End .footer-bottom -->
</footer>