<header class="header header-6">

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="" id="myform" method="get">
                        <div
                            class="header-search-wrapper search-wrapper-wide d-flex align-items-center justify-content-center ">

                            <button class="border-0 bg-transparent " style="outline: 0px;"><i
                                    class="ri-search-line text-primary fs-1" style="font-size: 2rem;"></i></button>
                            <input type="search" oninput="search(this)" class="form-control "
                                style="border-radius: 0px; border-bottom: .5px solid rgba(0, 0, 0, 0.473);" name="q"
                                id="q" placeholder="Search product ..." required>
                        </div>

                        <!-- End .header-search-wrapper -->
                    </form>
                    <div id="result" class="w-100 d-flex justify-content-end position-relative "
                        style="display: none; opacity: 0; transition: all ease 0.3s;      width: 100%;">
                        <div id="ll" class=" d-flex flex-column  position-absolute bg-white p-5  " style=" transition: all ease 0.3s;      width: 100%;
                 box-shadow: 0px 5px 5px 4px #4f4f4f4d;
                 z-index: 999999999999;
             ">
                            <p class="py-3 sea" style="border-bottom : .5px solid rgba(128, 128, 128, 0.24);">hhhh</p>

                        </div>
                    </div>

                </div><!-- End .header-search -->
            </div>
            <div class="header-center">
                <a href="/" class="logo">
                    <img src="/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                </a>
            </div><!-- End .header-left -->
            <!-- // wishlist and cart -->
            <% if(locals.login) {%>
                <div class="header-right">
                    <a href="/wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-count"></span>
                        <span class="wishlist-txt">My Wishlist</span>
                    </a>

                    <div class=" cart-dropdown">
                        <a href="/cart" class="dropdown-toggle">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count"></span>
                            <span class="cart-txt">Cart</span>
                        </a>

                        <!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                </div>
                <% } %>
        </div>
    </div>

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu ">
                        <li class="megamenu-container ">
                            <a href="/" class="">Home</a>

                            <!-- End .megamenu -->
                        </li>
                        <li>
                            <a href="/shop" class="">Shop</a>

                            <!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a class="sf-with-ul">Category</a>
                            <ul>
                                <%locals.cetgory.forEach(e=>{%>
                                    <li><a href="/cetgory/<%=e.name  %>">
                                            <%=e.name %>
                                        </a></li>

                                    <% }) %>
                            </ul>

                        </li>

                        <li>
                            <a href="/about">About</a>


                        </li>
                        <li>

                            <a href="<%= locals.login ? '/profile' : '/login' %>" class="">
                                <%= locals.login ? 'Profile' : 'Login' %>
                            </a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
            </div><!-- End .header-left -->

            <div class="header-right">
                <i class="la la-lightbulb-o"></i>
                <p>Clearance Up to 30% Off</span></p>
            </div>
        </div><!-- End .container -->
    </div>
</header>

<script>
    cartAndWishlist()
    function cartAndWishlist(){
        const cart=document.querySelector('.cart-count');
        const wishlist=document.querySelector('.wishlist-count');
        console.log(cart.textContent);
        if(cart){
        console.log('hello');
            fetch('/cartCount',{method:'put'}).then(res=>res.json()).then(data=>{
                data.wishlist!=0?wishlist.style.opacity=1:null
                data.cart!=0?cart.style.opacity=1:null
                data.wishlist!=0?wishlist.textContent=data.wishlist:wishlist.style.opacity=0
                data.cart!=0?cart.textContent=data.cart:cart.style.opacity=0
            })
        }else{
            console.log('hello11111');
        }
    }

    const form = document.getElementById('myform');
    const result = document.getElementById('result');
    const show = document.getElementById('ll');
    function search(e) {
   
        let clutter = '';
        
        if(e.value.trim()==''){
            console.log('hello');
            result.style.display='none';
                result.style.opacity=0
              form.addEventListener('submit',(e)=>{
                e.preventDefault()
              })
        }else{
             
            fetch(`/search?val=${e.value}`).then(res => res.json()).then(data => {
                if (data.result.length == 0) {
                    form.action='/searchItem'
                    result.style.display='none';
                    result.style.opacity=0;
                    form.addEventListener('submit',(es)=>{
                es.preventDefault();
         
              })
                } else {
                    form.action=`/searchItem?q=${e.value}`
                    result.style.display='flex';
                    result.style.opacity=1
                    data.result.forEach(e=>{
                        clutter+=` <a href='/searchItem?q=${e.name}' class="py-3 sea" style="border-bottom : .5px solid rgba(128, 128, 128, 0.24);"><p>${e.name}</p></a><br>
    `
                    })
                   
                    let uniqueGenders = new Set(); // Initialize a set to store unique genders

data.result.forEach(e => {
    if (e.gender && !uniqueGenders.has(e.gender)) { // Check if the gender exists and is unique
        uniqueGenders.add(e.gender); // Add the gender to the set
        clutter += ` <a href='/searchItem?q=${e.gender}' class="py-3 sea" style="border-bottom : .5px solid rgba(128, 128, 128, 0.24);"><p>${e.gender}</p></a><br>`;
    }
});
                    show.innerHTML=clutter;
                    form.addEventListener('submit',(e)=>{
                        form.submit()
                      })
                }
            })
              const sea=document.querySelectorAll('.sea');
        
        sea.forEach(e1=>{
            document.addEventListener('mouseover',(h)=>{
        if(h.target.classList.contains('sea')){
            e.value=h.target.textContent
        }
           
        
            })
        })
        }
        
        }
</script>
<style>
    .sea:hover{
        background-color: #4f4f4f4d;
    }
</style>